:root {
  --main-cyan: #8cbdb9;
  --main-dark: #2d3e4e;
  --main-orange: #e09e50;
  --main-creme: #ebf0ef;
  --main-creme-opacity: #ebf0ef9d;
  --padding: 2rem;
  --border-radius: 0.7rem;
  --small-border: 1px solid rgba(0, 0, 0, 0.2);
  --small-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  --small-shadow-animate: 0px 8px 3px -4px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 600;
}

h1,
h2,
h3,
p,
body {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  color: var(--main-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
}

.app-background-container {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  overflow: hidden;
}

.app-background-container img {
  position: absolute;
  width: 120%;
  top: 0;
  left: -10%;
  background-image: url("../assets//images//background.svg");
  background-repeat: no-repeat;
  background-size: 400px 200px;
  transform-origin: left top;
  rotate: -10deg;
}

.bold {
  font-weight: 700;
}

.APP {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 calc(var(--padding));
}

.active {
  --small-shadow-animate: 1px 8px 3px -4px rgba(0, 0, 0, 0.5);
  translate: 0px -5px;
}

.btn {
  position: relative;
  padding: calc(var(--padding) / 3) calc(var(--padding) * 1.5);
  border-radius: var(--border-radius);
  border: 1px solid var(--main-orange);
  letter-spacing: 0.1rem;
  background-color: var(--main-dark);
  overflow: hidden;
  box-shadow: var(--small-shadow);
  color: var(--main-orange);
  font-weight: 700;
  transition: all 125ms ease-in;
  cursor: pointer;
  min-height: 35px;
}

.btn:hover:after {
  background-color: var(--main-color);
  height: 600%;
  rotate: -90deg;
}

.btn:hover {
  translate: 0px -5px;
  box-shadow: var(--small-shadow-animate);
}

form {
  position: relative;
  box-shadow: var(--small-shadow);
  border: 2px solid var(--main-cyan);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--padding) / 4);
  align-self: stretch;
  overflow: hidden;
  row-gap: 0.5rem;
}

form:after {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  top: -30%;
  right: 97%;
  transform-origin: top right;
  background-image: url("../assets/images/background-static.svg");
  background-size: cover;
  background-repeat: no-repeat;
  rotate: -80deg;
  z-index: -1;
}

form::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--main-creme);
  z-index: -2;
}

form div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  display: none;
}

form input,
form select {
  width: 80%;
  border: 1px solid var(--main-orange);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 0.5rem 1rem;
}

form .submit-btn {
  margin: calc(var(--padding) / 1) 0 calc(var(--padding) / 1.5);
}

.submit-form.active {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 250ms;
  padding: var(--padding);
}

.submit-form {
  display: none;
}

.submit-form h2 {
  font-weight: 700;
  text-align: right;
}

footer {
  position: relative;
  z-index: 10;
  text-align: center;
  background-color: var(--main-dark);
  border: 2px solid;
  color: rgba(255, 255, 255, 0.3);
}

select {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  body {
    background-image: url("../assets/images/groupPicture-green.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
  }

  form input,
  form select {
    font-size: 2rem;
  }
}
