.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--padding));
}

.background {
  width: 200%;
  position: relative;
}

.main > h2:first-child {
  font-size: 3rem;
  font-weight: 700;
  border: 2px solid var(--main-cyan);
  border-radius: var(--border-radius);
  width: fit-content;
  padding: calc(var(--padding) / 2) var(--padding);
  background-color: var(--main-creme-opacity);
  transform: translateY(40px);
  z-index: 2;
}

.main > h2:nth-of-type(2) {
  font-size: 2.2rem;
  font-weight: 600;
}

.main form {
  margin-bottom: var(--padding) !important;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header . . "
      "intro intro intro form form";
  }

  .main > h2:first-child {
    grid-area: header;
    width: 100%;
    text-align: center;
    font-size: 4.5rem;
    translate: 0 -50px;
  }

  .main > h2:nth-of-type(2) {
    font-size: 3.5rem;
    grid-area: intro;
    font-weight: 800;
  }

  .background {
    display: none;
  }

  .main form {
    grid-area: form;
    font-size: 1.8rem;
    gap: 1rem;
  }
}
